.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 20%;
}

.form h2 {
  margin-bottom: 20px;
}

.form > div {
  display: flex;
  align-items: center;
}

.form input {
  padding: 5px;
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--foreground);
  color: var(--foreground);
  outline: none;
  background: transparent;
  margin-top: 10px;
}

.form input:focus {
  outline: none;
  border-bottom: 1px solid var(--foreground-hover);
}