.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, .75);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.modal {
	position: relative;
	width: 90vw;
	max-width: 400px;
	height: 400px;
	background: #222;
}

.controls {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	display: flex;
	gap: .5rem;
	justify-content: center;
}