.wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.body {
  flex-grow: 1;
}

.body > a {
  display: flex;
  align-items: center;
}

.body > a > strong {
  background: var(--foreground);
  color: var(--background);
  border-radius: 100px;
  padding: 2px 10px;
}

.body > a > small {
  margin-left: 5px;
  color: gray;
}

.body p {
  margin: 10px 0;
  line-height: 1.35;
}

.body > small {
  color: gray;
}

.deleteBtn {
  justify-self: end;
  align-self: flex-start;
  background: none;
  border: none;
  color: var(--foreground);
  transition: all 0.3s;
  cursor: pointer;
}

.deleteBtn:hover {
  color: indianred;
}