.wrapper {
  display: flex;
  gap: .75rem;
  margin-bottom: 1rem;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.body {
  flex: 1;
}

.body > a {
  display: flex;
  align-items: center;
}

.body > a > strong {
  background: var(--foreground);
  color: var(--background);
  border-radius: 100px;
  padding: 2px 10px;
}

.body > a > small {
  margin-left: 5px;
  color: gray;
}

.body p {
  margin: 10px 0;
  line-height: 1.35;
}

.body > small {
  color: gray;
}