:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page-nav {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background: var(--foreground);
  border-radius: 100px;
}

.page-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-nav ul li {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100px;
  transition: all 0.3s;
}

.page-nav ul li:hover {
  background: #b4b4b4;
}

.page-nav ul li a {
  
}

.page-nav ul li a img {
  border-radius: 100px;
  padding: 10px;
  padding-bottom: 6px;
}

.selected {
  background: #b4b4b4;
}