.block {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.block:hover {
  background: var(--background-hover);
}

.wrapper {
  padding: 0 0 10px 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper small {
  display: block;
  font-size: .75rem;
  color: gray;
  margin-top: 2px;
}

.read {
  opacity: .6;
}

.avatar {
  border-radius: 50%;
  width: 40px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.userInfo strong {
  background: var(--foreground);
  border-radius: 100px;
  padding: 2px 6px;
  color: var(--background);
}

.content {
  margin-left: 10px;
  flex-grow: 1;
}

.dot {
  border-radius: 50%;
  background: var(--main);
  width: 10px;
  height: 10px;
}