.createPostForm {
  width: 100%;
}

.inputContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.content {
  flex-grow: 1;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  resize: none;
}

.fileInputs {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  font-size: 25px;
}

.fileInputs label {
  cursor: pointer;
  padding: 5px;
}

.fileInputs label:hover {
  background: var(--background-hover);
  border-radius: 50%;
}

.fileInputs input {
  display: none;
}

.previewContainer {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-top: 10px;
}

.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  padding: 10px
}

.cancelBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  z-index: 100;
  border: none;
  border-radius: 50%;
  background: var(--foreground);
  color: indianred;
  box-shadow: 3px 3px 3px #00000087;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelBtn:hover {
  background: indianred;
  color: var(--foreground);
}

.preview img,
.preview video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.preview video:fullscreen {
  object-fit: contain;
}

.submitBtn {
  border-radius: 100px;
  background: var(--foreground);
  color: var(--background);
  font-weight: bold;
  transition: all 0.3s;
  width: 100%;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
}

.submitBtn:hover {
  background: var(--foreground-hover);
}

.submitBtn:disabled {
  background: gray;
}