.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.avatarNameContainer {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.infoContainer h1 {
  border-radius: 100px;
  padding: 5px 10px;
  color: var(--foreground);
  font-weight: bold;
}

.infoContainer p {
  padding: 0 10px;
  color: gray;
  margin-top: -10px;
}

.followInfo {
  display: flex;
  background: var(--foreground);
  color: var(--background);
  border-radius: 100px;
  font-weight: bold;
  align-items: center;
}

.followInfo > p > button {
  padding: 5px 15px;
  background: var(--foreground);
  color: var(--background);
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.followInfo > p > button:hover {
  background: var(--foreground-hover);
}

.followerBtn {
  border-radius: 100px 0 0 100px;
}

.followingBtn {
  border-radius: 0 100px 100px 0;
}

.createDate {
  padding: 0 10px;
  color: gray;
  align-self: end;
  margin-top: 10px;
}

.bio {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.functionBtns {
  display: flex;
}

.functionBtns button,
.functionBtns a {
  border-radius: 100px;
  padding: 5px 20px;
  margin-top: 10px;
  border: none;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editBtn {
  background: var(--foreground);
  color: var(--background);
  flex-grow: 1;
  margin-right: 10px;
}

.editBtn:hover {
  background: var(--foreground-hover);
}

.logoutBtn {
  background: #e27272;
  color: white;
}

.logoutBtn:hover {
  background: #af5858;
}

@media (max-width:600px) {
  .avatar {
    width: 100px;
    height: 100px;
  }
}