.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 60%;
  min-width: 300px;
  max-width: 1000px;
  margin-bottom: 10px;
}

.avatarNameContainer {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.infoContainer h2 {
  background: var(--foreground);
  border-radius: 100px;
  padding: 5px 10px;
  color: var(--background);
  width: fit-content;
}

.infoContainer p {
  padding: 0 10px;
  color: gray;
}

.createDate {
  padding: 0 10px;
  color: gray;
  align-self: end;
}

.bio {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.editBtn {
  background: var(--foreground);
  color: var(--background);
  border-radius: 100px;
  padding: 5px 15px;
  margin-top: 10px;
  border: none;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
}

.editBtn:hover {
  background: var(--foreground-hover);
}