.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 20%;
}

.form input {
  padding: 5px;
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--foreground);
  color: var(--foreground);
  outline: none;
  background: transparent;
  margin-top: 10px;
}

.form input:focus {
  outline: none;
  border-bottom: 1px solid var(--foreground-hover);
}

.submitBtn {
  margin-top: 40px;
  background: var(--main);
  border: none;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
}

.submitBtn:hover {
  background: var(--main-hover);
}

.submitBtn:disabled {
  background: gray;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}