.readAllBtn {
  background: var(--foreground);
  color: var(--background);
  border-radius: 100px;
  padding: 5px 10px;
  font-weight: bold;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  align-self: end;
  margin-bottom: 10px;
}

.readAllBtn:hover {
  background: var(--foreground-hover);
}